

.intro{
  padding: 1em;
}

.intro p{
  font-size: 1.2em;
}

.media-card__image{
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.media-card__link{
  text-decoration: none;
}

.media-card__title{
  font-size: 1.2em;
  color: var(--bs-black);
  text-decoration: none;
}

@media screen and (min-width: 760px){
  .info{
    grid-template-columns: 1fr 1fr 1fr;
  }
}